body{
  background-color: #f1eeec;
}
.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 57px;
}
.left{
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}
.list{
  background: url("../images/notepad.png") no-repeat;
  width: 410px;
  height: 520px;
  display: inline-block;
  margin-left: 15px;
}
