body{
  background-color: #f1eeec;
}
.container{
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 57px;
}
/*CSS for the title layout*/
.left{
  padding-left: 10px;
  vertical-align: top;
  display: inline-block;
}
.left h1{
  font-size: 2.500em;
  font-weight: 700;
  padding-top: 13px;
  letter-spacing: 0.014em;
  color: #902d2e;
}
.left h5{
  font-size: 1.000em;
  padding-top: 18px;
  line-height: 1.4em;
  font-weight: 300;
  color: #3476ff;
  letter-spacing: 0.022em;
}
.left h5:nth-child(3){
  padding-top: 2px;
}
.left img{
  vertical-align: top;
}
.pen{
  padding-top: 30px;
  padding-left: 7px;
}
.eraser{
  padding-top: 45px;
  padding-left: 32px;
}
.ref{
  font-size: 0.688em;
  letter-spacing: 0.015em;
  padding-top: 30px;
  line-height: 1.4em;
  color: #555859;
  font-weight:300;
}
.ref a{
  text-decoration: none;
  color: #555859;
}
.ref a:hover{
  text-decoration: underline;
}

/*CSS for the notepad list*/
.list{
  background: url("../images/notepad.png") no-repeat;
  width: 410px;
  height: 520px;
  display: inline-block;
  margin-left: 40px;
}
/*top bar*/
.title::before{
  content: "";
  width: 100%;
  height: 58px;
  display: table;
}
.title, .add-item{
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.title{
  margin-left: 35px;
  padding: 4px 0 4px 0;
  border-bottom: 1px solid #a5a5a5;
  width: 200px;
}
.title input[type="text"]{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  border: none;
  font-size: 0.875em;
  background: none;
  margin-left: 2px;
  width: 193px;
  letter-spacing: 0.03em;
  color: #3c3c3e;
}
.add-item{
  font-size: 0.875em;
  margin-left: 55px;
  color: #902d2e;
  padding: 6px 10px;
  border: 1px solid #902d2e;
  background-color: #fff;
}
.add-item:hover{
  background-color: #902d2e;
  color: #fff;
  cursor: pointer;
}
/*Main Content*/
#content{
  height: 400px;
  margin-top: 12px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}
.selected input[type="text"],
.standard input[type="text"],
.active input[type="text"]{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  height: 25px;
  border: none;
  font-size: 1.000em;
  padding-left: 5px;
  width: 270px;
  color: #3c3c3e;
}
.selected input[type="checkbox"],
.standard input[type="checkbox"],
.active input[type="checkbox"]{
  width: 15px;
  height: 15px;
  border: none;
}
.selected form{
  display: inline-block;
}
.selected,
.standard,
.active{
  width: 100%;
  height: 30px;
  padding-top: 10px;
/*border-bottom: 2px solid #e8e8e8;*/}
.active{
  width: 340px;
  max-width: 340px;
}
/*CSS for the extra detail*/
#dropdown{
  margin-top: 5px;
}
#dropdown input{
  margin-left: 5px;
}
#dropdown input[type="text"]{
  width: 205px;
}
.quantity, .notes{
  height: 30px;
  padding-top: 10px;
  background-color: #f4ead5;
}
.quantity{
  border-bottom: 1px solid #c5c5c5;
  padding-left: 30px;
  width: 91.3%;
}
.notes{
  width: 92.5%;
  height: 95px;
}
.notes{
  padding-left: 26px;
}
.notes input{
  margin-left: 0px !important;
}
.notes input[type="text"]{
  width: 271px !important;
  height: 60px;
}
.notes input[value="Notes:"]{
  top: 0;
}
.notes button{
  margin-top: 8px;
  margin-right: 10px;
  float: right;
}
.selected button{
  margin-left: 5px;
  border: none;
  background-color: white;
  cursor:pointer;
}

/*Once the input is being selected*/
.selected input[type="text"]{
  color: #bec0c4;
}
/*Once the item is active effect*/
.selected input[type="text"]:focus, textarea:focus{
  box-shadow: none;
  border: none;
  background-color: #f4ead5;
  outline: 0;
  color: #3c3c3e;
}
